<ul class="list">
    <li>Что для вас самое трyдное в ожидании Бога?
    </li>
    <li>Какие результаты/плоды производит в нас ожидание Бога?
    </li>
    <li>Вспомните какие благословения от Бога помогают вам держаться за него в моменты ожидания и не дают духовному врагу забрать у вас вашу веру?
    </li>
    <li>Как вы думаете, во всех ли сферах нашей жизни нам следует спрашивать/ожидать ответов от Бога? Или все же есть какая - то грань (не покупать хлеб, пока не получишь ответа от Бога о том, хлеб какой марки лучше взять)
    </li>
    <li>К чему вы больше склонны: полагаться на желаемый результат или на характер Бога и его отношение к вам? (Т,е вы живете чаще видением его действий в вашей жизни или верой в Его суть?)</li>
</ul>
